numpy
pandas
lmdb
matplotlib
pytorch_lightning
scikit-learn
tensorboard
ipykernel
scikit-survival
opencv-python

openslide-python
openslide-bin
einops
transformers
requests

huggingface_hub
timm

torch==2.5.1+cu121
torchvision==0.20.1+cu121

peft
